<%- include('partials/header.ejs'); -%>
<body>
    <h1>Welcome to the Blog Home</h1>
    <% if (user) { %>
      <p>Logged in as <%= user %></p>
      <a href="/compose">Create A Post</a>
      <a href="/dashboard">My Posts</a>
    <% } else { %>
      <a href="/login">Login</a>
    <% } %>
    <hr>

    <p><%= homeStartingContent %> </p>
    <hr>
<% if (posts.length === 0) { %>
    <h1>No posts found</h1>
<% } %>
<% posts.reverse().forEach(function(post) { %>
    <h1><%= post.title %></h1>
    <p>
        <%= post.content && post.content.length >= 100 ? post.content.substring(0, 100) + "..." : post.content %>
        <a href="/post/<%= post.title %>">Read More</a>
    </p>
    <p>Posted by <%= post.author.email %> on <%= post.createdAt.toLocaleDateString() %></p>
    
    <% if (user && post.author._id.toString() === user._id.toString()) { %>
        <form action="/delete/<%= post._id %>" method="POST">
          <button>Delete</button>
        </form>
        <form action="/edit/<%= post._id %>" method="GET">
          <button>Edit</button>
        </form>
      <% } %>
        <br />
        <hr style="box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);" />

<% }) %>


<%- include('partials/footer.ejs'); -%>	